@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom colors for CARVerID DEMO */
body {
  background-color: #6614b8; /* purple background */
  font-family: 'Inter', sans-serif;
  color: white; /* default text color */
}
